<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataStore" class="dio.homework.callendar.datastore.impl.EventToHashMapDataStore">
    </bean>
    <bean id="eventDao" class="dio.homework.callendar.datastore.dao.EventDaoImpl">
        <constructor-arg ref = "dataStore"/>

    </bean>
    <bean id="eventService" class="dio.homework.callendar.datastore.service.EventServiceImpl">
        <constructor-arg ref = "eventDao"/>

    </bean>
    <bean id="calendarService" class="dio.homework.callendar.CallendarServiceImpl">
        <constructor-arg ref = "eventService"/>

    </bean>
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- does not necessarily have to be the same name as the bean to be exported -->
        <property name="serviceName" value="CallendarService"/>
        <property name="service" ref="calendarService"/>
        <property name="serviceInterface" value="dio.homework.callendar.CallendarService"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="12348"/>
    </bean>

</beans>